@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@600;900&display=swap');


body {
    font-family: 'Outfit', sans-serif;
    background-color: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    align-items: center;
    size: 100px;
}

h1 {
    font-size: 28px;
    margin-left: 5%;
    margin-right: 5%;
}

p {
    font-size: 18px;
    font-weight: 400;
    color: grey;
    font-family: 'Outfit', sans-serif;
    margin-left: 10%;
    margin-right: 10%;
    border-color: black;
}

div {
    border: 2px solid;
    text-align: center;
    border-color: transparent;

}

.container {
    width: 400px;
    height: 600px;
    border-color: aliceblue;
    background-color: aliceblue;
    border-radius: 25px;
    padding: 15px;
    margin-top: 100px;
}

.foto>img {
    width: 100%;
    height: 100%;
    border-radius: 25px;
    border-color: transparent;
}